# Ejercicios de Lectura de CSV
## Ejercicio 1
Leer el archivo CSV `datos_ejemplo.csv` y mostrar el contenido completo.

In [7]:
import pandas as pd

df = pd.read_csv('datos_ejemplo.csv')

df

   id  firstname   lastname                     email   birthdate
0   1      Kerry  O'Connell         Kerry16@gmail.com  1990-01-01
1   2      Ethel     Miller       Ethel14@hotmail.com  1985-05-12
2   3     Willie     Barton   Willie.Barton@gmail.com  1992-07-23
3   4      Ellis       Lowe      Ellis.Lowe@gmail.com  1988-11-30
4   5    Raymond     Miller  Raymond.Miller@gmail.com  1991-03-15
5   6      Ellen   Thompson       Ellen92@hotmail.com  1987-09-25
6   7        Joe       Rice           Joe55@gmail.com  1993-12-05
7   8  Nathaniel     Legros   Nathaniel40@hotmail.com  1986-04-18
8   9     Maxine   Schinner      Maxine93@hotmail.com  1990-08-22
9  10        Tim   Jacobson         Tim92@hotmail.com  1989-10-10

## Ejercicio 2
Leer el archivo CSV `datos_ejemplo.csv` y mostrar solo las columnas `firstname` y `lastname`.

In [8]:
filtered_columns = df[['firstname', 'lastname']]
print(filtered_columns)

   firstname   lastname
0      Kerry  O'Connell
1      Ethel     Miller
2     Willie     Barton
3      Ellis       Lowe
4    Raymond     Miller
5      Ellen   Thompson
6        Joe       Rice
7  Nathaniel     Legros
8     Maxine   Schinner
9        Tim   Jacobson

## Ejercicio 3
Leer el archivo CSV `datos_ejemplo.csv`, parsear la columna `birthdate` como fechas y establecerla como índice del DataFrame.

In [9]:
df['birthdate'] = pd.to_datetime(df['birthdate'])
df = df.set_index('birthdate')

print(df)

# También es posible hacerlo como
'''
df = pd.read_csv('datos_ejemplo.csv', parse_dates=['birthdate'], index_col='birthdate')
df
'''

            id  firstname   lastname                     email
birthdate
1990-01-01   1      Kerry  O'Connell         Kerry16@gmail.com
1985-05-12   2      Ethel     Miller       Ethel14@hotmail.com
1992-07-23   3     Willie     Barton   Willie.Barton@gmail.com
1988-11-30   4      Ellis       Lowe      Ellis.Lowe@gmail.com
1991-03-15   5    Raymond     Miller  Raymond.Miller@gmail.com
1987-09-25   6      Ellen   Thompson       Ellen92@hotmail.com
1993-12-05   7        Joe       Rice           Joe55@gmail.com
1986-04-18   8  Nathaniel     Legros   Nathaniel40@hotmail.com
1990-08-22   9     Maxine   Schinner      Maxine93@hotmail.com
1989-10-10  10        Tim   Jacobson         Tim92@hotmail.com

"\ndf = pd.read_csv('datos_ejemplo.csv', parse_dates=['birthdate'], index_col='birthdate')\ndf\n"

# Ejercicios de Selección, Filtrado y Creación de Nuevos DataFrames
## Ejercicio 1
Seleccionar y mostrar solo las filas donde el apellido sea `Miller`.

In [10]:
miller_surname = df[df['lastname'] == 'Miller']
print(miller_surname)

            id firstname lastname                     email
birthdate
1985-05-12   2     Ethel   Miller       Ethel14@hotmail.com
1991-03-15   5   Raymond   Miller  Raymond.Miller@gmail.com

## Ejercicio 2
Seleccionar y mostrar solo las filas donde la fecha de nacimiento sea posterior a `1990-01-01`.

In [14]:
birthdate_above_1990 = df[df.index > '1990-01-01']
print(birthdate_above_1990)

# df[birthdate] ya no funciona porque birthdate es el índice

            id firstname  lastname                     email
birthdate
1992-07-23   3    Willie    Barton   Willie.Barton@gmail.com
1991-03-15   5   Raymond    Miller  Raymond.Miller@gmail.com
1993-12-05   7       Joe      Rice           Joe55@gmail.com
1990-08-22   9    Maxine  Schinner      Maxine93@hotmail.com

## Ejercicio 3
Crear un nuevo DataFrame con una columna adicional `fullname` que contenga el nombre completo (`firstname` + `lastname`).

In [15]:
df['fullname'] = df['firstname'] + ' ' + df['lastname']
print(df)

            id  firstname   lastname                     email  \
birthdate
1990-01-01   1      Kerry  O'Connell         Kerry16@gmail.com
1985-05-12   2      Ethel     Miller       Ethel14@hotmail.com
1992-07-23   3     Willie     Barton   Willie.Barton@gmail.com
1988-11-30   4      Ellis       Lowe      Ellis.Lowe@gmail.com
1991-03-15   5    Raymond     Miller  Raymond.Miller@gmail.com
1987-09-25   6      Ellen   Thompson       Ellen92@hotmail.com
1993-12-05   7        Joe       Rice           Joe55@gmail.com
1986-04-18   8  Nathaniel     Legros   Nathaniel40@hotmail.com
1990-08-22   9     Maxine   Schinner      Maxine93@hotmail.com
1989-10-10  10        Tim   Jacobson         Tim92@hotmail.com

                    fullname
birthdate
1990-01-01   Kerry O'Connell
1985-05-12      Ethel Miller
1992-07-23     Willie Barton
1988-11-30        Ellis Lowe
1991-03-15    Raymond Miller
1987-09-25    Ellen Thompson
1993-12-05          Joe Rice
1986-04-18  Nathaniel Legros
1990-08-22   Maxine Schinner
1989-10-10      Tim Jacobson

## Ejercicio 4
Seleccionar y mostrar solo las filas donde el nombre sea `Ellen`.

In [16]:
ellen_name = df[df['firstname'] == 'Ellen']
print(ellen_name)

            id firstname  lastname                email        fullname
birthdate
1987-09-25   6     Ellen  Thompson  Ellen92@hotmail.com  Ellen Thompson

## Ejercicio 5
Seleccionar y mostrar solo las filas donde el correo electrónico contenga `gmail.com`.

In [17]:
gmail_users = df[df['email'].str.endswith('@gmail.com')]
print(gmail_users)

            id firstname   lastname                     email         fullname
birthdate
1990-01-01   1     Kerry  O'Connell         Kerry16@gmail.com  Kerry O'Connell
1992-07-23   3    Willie     Barton   Willie.Barton@gmail.com    Willie Barton
1988-11-30   4     Ellis       Lowe      Ellis.Lowe@gmail.com       Ellis Lowe
1991-03-15   5   Raymond     Miller  Raymond.Miller@gmail.com   Raymond Miller
1993-12-05   7       Joe       Rice           Joe55@gmail.com         Joe Rice

## Ejercicio 6
Crear un nuevo DataFrame con una columna adicional `age` que contenga la edad calculada a partir de la fecha de nacimiento.

In [20]:
df_age = df.copy()

df_age['age'] = ((pd.Timestamp.now() - df_age.index).days / 365.25).astype(int)

# Se tienen en cuenta los años bisiestos con 365.25
# (365 + 365 + 365 + 366) / 4 = 365.25
print(df_age)

            id  firstname   lastname                     email  \
birthdate
1990-01-01   1      Kerry  O'Connell         Kerry16@gmail.com
1985-05-12   2      Ethel     Miller       Ethel14@hotmail.com
1992-07-23   3     Willie     Barton   Willie.Barton@gmail.com
1988-11-30   4      Ellis       Lowe      Ellis.Lowe@gmail.com
1991-03-15   5    Raymond     Miller  Raymond.Miller@gmail.com
1987-09-25   6      Ellen   Thompson       Ellen92@hotmail.com
1993-12-05   7        Joe       Rice           Joe55@gmail.com
1986-04-18   8  Nathaniel     Legros   Nathaniel40@hotmail.com
1990-08-22   9     Maxine   Schinner      Maxine93@hotmail.com
1989-10-10  10        Tim   Jacobson         Tim92@hotmail.com

                    fullname  age
birthdate
1990-01-01   Kerry O'Connell   36
1985-05-12      Ethel Miller   40
1992-07-23     Willie Barton   33
1988-11-30        Ellis Lowe   37
1991-03-15    Raymond Miller   34
1987-09-25    Ellen Thompson   38
1993-12-05          Joe Rice   32
1986-04-18  Nathaniel Legros   39
1990-08-22   Maxine Schinner   35
1989-10-10      Tim Jacobson   36

## Ejercicio 7
Seleccionar y mostrar solo las filas donde la edad sea mayor a 30 años.

In [22]:
age_above_30 = df_age[df_age['age'] > 30]
print(age_above_30)

            id  firstname   lastname                     email  \
birthdate
1990-01-01   1      Kerry  O'Connell         Kerry16@gmail.com
1985-05-12   2      Ethel     Miller       Ethel14@hotmail.com
1992-07-23   3     Willie     Barton   Willie.Barton@gmail.com
1988-11-30   4      Ellis       Lowe      Ellis.Lowe@gmail.com
1991-03-15   5    Raymond     Miller  Raymond.Miller@gmail.com
1987-09-25   6      Ellen   Thompson       Ellen92@hotmail.com
1993-12-05   7        Joe       Rice           Joe55@gmail.com
1986-04-18   8  Nathaniel     Legros   Nathaniel40@hotmail.com
1990-08-22   9     Maxine   Schinner      Maxine93@hotmail.com
1989-10-10  10        Tim   Jacobson         Tim92@hotmail.com

                    fullname  age
birthdate
1990-01-01   Kerry O'Connell   36
1985-05-12      Ethel Miller   40
1992-07-23     Willie Barton   33
1988-11-30        Ellis Lowe   37
1991-03-15    Raymond Miller   34
1987-09-25    Ellen Thompson   38
1993-12-05          Joe Rice   32
1986-04-18  Nathaniel Legros   39
1990-08-22   Maxine Schinner   35
1989-10-10      Tim Jacobson   36

## Ejercicio 8
Seleccionar y mostrar solo las filas donde el nombre completo contenga `Miller`.

In [23]:
miller_fullname = df[df['fullname'].str.contains('Miller')]
print(miller_fullname)

            id firstname lastname                     email        fullname
birthdate
1985-05-12   2     Ethel   Miller       Ethel14@hotmail.com    Ethel Miller
1991-03-15   5   Raymond   Miller  Raymond.Miller@gmail.com  Raymond Miller

## Ejercicio 9
Crear un nuevo DataFrame con una columna adicional `domain` que contenga el dominio del correo electrónico.

In [ ]:
df_domain = df.copy()

df_domain['domain'] = df_domain['email'].str.split('@').str[1] # [0] es el usuario | [1] es el dominio
print(df_domain)

            id  firstname   lastname                     email  \
birthdate
1990-01-01   1      Kerry  O'Connell         Kerry16@gmail.com
1985-05-12   2      Ethel     Miller       Ethel14@hotmail.com
1992-07-23   3     Willie     Barton   Willie.Barton@gmail.com
1988-11-30   4      Ellis       Lowe      Ellis.Lowe@gmail.com
1991-03-15   5    Raymond     Miller  Raymond.Miller@gmail.com
1987-09-25   6      Ellen   Thompson       Ellen92@hotmail.com
1993-12-05   7        Joe       Rice           Joe55@gmail.com
1986-04-18   8  Nathaniel     Legros   Nathaniel40@hotmail.com
1990-08-22   9     Maxine   Schinner      Maxine93@hotmail.com
1989-10-10  10        Tim   Jacobson         Tim92@hotmail.com

                    fullname       domain
birthdate
1990-01-01   Kerry O'Connell    gmail.com
1985-05-12      Ethel Miller  hotmail.com
1992-07-23     Willie Barton    gmail.com
1988-11-30        Ellis Lowe    gmail.com
1991-03-15    Raymond Miller    gmail.com
1987-09-25    Ellen Thompson  hotmail.com
1993-12-05          Joe Rice    gmail.com
1986-04-18  Nathaniel Legros  hotmail.com
1990-08-22   Maxine Schinner  hotmail.com
1989-10-10      Tim Jacobson  hotmail.com

## Ejercicio 10
Seleccionar y mostrar solo las filas donde el dominio del correo electrónico sea `hotmail.com`.

In [25]:
hotmail_domain = df_domain[df_domain['domain'] == 'hotmail.com']
print(hotmail_domain)

            id  firstname  lastname                    email  \
birthdate
1985-05-12   2      Ethel    Miller      Ethel14@hotmail.com
1987-09-25   6      Ellen  Thompson      Ellen92@hotmail.com
1986-04-18   8  Nathaniel    Legros  Nathaniel40@hotmail.com
1990-08-22   9     Maxine  Schinner     Maxine93@hotmail.com
1989-10-10  10        Tim  Jacobson        Tim92@hotmail.com

                    fullname       domain
birthdate
1985-05-12      Ethel Miller  hotmail.com
1987-09-25    Ellen Thompson  hotmail.com
1986-04-18  Nathaniel Legros  hotmail.com
1990-08-22   Maxine Schinner  hotmail.com
1989-10-10      Tim Jacobson  hotmail.com

# Ejercicios de Agrupación, Ordenación y Unión
## Ejercicio 1
Agrupar por apellido y contar el número de ocurrencias de cada apellido.

In [ ]:
lastname_count = df.groupby('lastname').size()
'''
size() → cuenta todas las filas (incluyendo NaN)
count() → cuenta solo valores no nulos
value_counts() → ordena de mayor a menor automáticamente
'''
print(lastname_count)

lastname
Barton       1
Jacobson     1
Legros       1
Lowe         1
Miller       2
O'Connell    1
Rice         1
Schinner     1
Thompson     1
dtype: int64

## Ejercicio 2
Ordenar el DataFrame por fecha de nacimiento en orden ascendente.

In [27]:
print(df.sort_index(ascending=True))

            id  firstname   lastname                     email  \
birthdate
1985-05-12   2      Ethel     Miller       Ethel14@hotmail.com
1986-04-18   8  Nathaniel     Legros   Nathaniel40@hotmail.com
1987-09-25   6      Ellen   Thompson       Ellen92@hotmail.com
1988-11-30   4      Ellis       Lowe      Ellis.Lowe@gmail.com
1989-10-10  10        Tim   Jacobson         Tim92@hotmail.com
1990-01-01   1      Kerry  O'Connell         Kerry16@gmail.com
1990-08-22   9     Maxine   Schinner      Maxine93@hotmail.com
1991-03-15   5    Raymond     Miller  Raymond.Miller@gmail.com
1992-07-23   3     Willie     Barton   Willie.Barton@gmail.com
1993-12-05   7        Joe       Rice           Joe55@gmail.com

                    fullname
birthdate
1985-05-12      Ethel Miller
1986-04-18  Nathaniel Legros
1987-09-25    Ellen Thompson
1988-11-30        Ellis Lowe
1989-10-10      Tim Jacobson
1990-01-01   Kerry O'Connell
1990-08-22   Maxine Schinner
1991-03-15    Raymond Miller
1992-07-23     Willie Barton
1993-12-05          Joe Rice

## Ejercicio 3
Unir dos DataFrames creados a partir del archivo CSV original.

In [30]:
'''
concat() → apila DataFrames (vertical u horizontalmente)
merge() → une DataFrames por una columna clave común (como JOIN en SQL)
'''

'\nconcat() → apila DataFrames (vertical u horizontalmente)\nmerge() → une DataFrames por una columna clave común (como JOIN en SQL)\n'

In [ ]:
# Dos df a partir del original
df1 = df[df['lastname'] == 'Miller']
df2 = df[df['lastname'] == 'Smith']

# pd.concat = Unir verticalmente (concatear filas y columnas)
df_union = pd.concat([df1, df2])
print(df_union)

            id firstname lastname                     email        fullname
birthdate
1985-05-12   2     Ethel   Miller       Ethel14@hotmail.com    Ethel Miller
1991-03-15   5   Raymond   Miller  Raymond.Miller@gmail.com  Raymond Miller

In [29]:
# Dos df con cols diferentes
df1 = df[['firstname', 'lastname']]
df2 = df[['firstname', 'email']]

# Unir por columna común
df_merge = pd.merge(df1, df2, on='firstname')
print(df_merge)

   firstname   lastname                     email
0      Kerry  O'Connell         Kerry16@gmail.com
1      Ethel     Miller       Ethel14@hotmail.com
2     Willie     Barton   Willie.Barton@gmail.com
3      Ellis       Lowe      Ellis.Lowe@gmail.com
4    Raymond     Miller  Raymond.Miller@gmail.com
5      Ellen   Thompson       Ellen92@hotmail.com
6        Joe       Rice           Joe55@gmail.com
7  Nathaniel     Legros   Nathaniel40@hotmail.com
8     Maxine   Schinner      Maxine93@hotmail.com
9        Tim   Jacobson         Tim92@hotmail.com

## Ejercicio 4
Agrupar por dominio del correo electrónico y contar el número de ocurrencias de cada dominio.

In [31]:
print(df_domain.groupby('domain').size())

domain
gmail.com      5
hotmail.com    5
dtype: int64

## Ejercicio 5
Ordenar el DataFrame por nombre completo en orden descendente.

In [32]:
print(df.sort_values(by='fullname'))

            id  firstname   lastname                     email  \
birthdate
1987-09-25   6      Ellen   Thompson       Ellen92@hotmail.com
1988-11-30   4      Ellis       Lowe      Ellis.Lowe@gmail.com
1985-05-12   2      Ethel     Miller       Ethel14@hotmail.com
1993-12-05   7        Joe       Rice           Joe55@gmail.com
1990-01-01   1      Kerry  O'Connell         Kerry16@gmail.com
1990-08-22   9     Maxine   Schinner      Maxine93@hotmail.com
1986-04-18   8  Nathaniel     Legros   Nathaniel40@hotmail.com
1991-03-15   5    Raymond     Miller  Raymond.Miller@gmail.com
1989-10-10  10        Tim   Jacobson         Tim92@hotmail.com
1992-07-23   3     Willie     Barton   Willie.Barton@gmail.com

                    fullname
birthdate
1987-09-25    Ellen Thompson
1988-11-30        Ellis Lowe
1985-05-12      Ethel Miller
1993-12-05          Joe Rice
1990-01-01   Kerry O'Connell
1990-08-22   Maxine Schinner
1986-04-18  Nathaniel Legros
1991-03-15    Raymond Miller
1989-10-10      Tim Jacobson
1992-07-23     Willie Barton

## Ejercicio 6
Unir dos DataFrames utilizando la columna `id` como clave.

In [34]:
# Crear dos df con cols diferentes
df1 = df[['id', 'firstname', 'lastname']]
df2 = df[['id', 'email']]

df_merged = pd.merge(df1, df2, on='id')
print(df_merged)

   id  firstname   lastname                     email
0   1      Kerry  O'Connell         Kerry16@gmail.com
1   2      Ethel     Miller       Ethel14@hotmail.com
2   3     Willie     Barton   Willie.Barton@gmail.com
3   4      Ellis       Lowe      Ellis.Lowe@gmail.com
4   5    Raymond     Miller  Raymond.Miller@gmail.com
5   6      Ellen   Thompson       Ellen92@hotmail.com
6   7        Joe       Rice           Joe55@gmail.com
7   8  Nathaniel     Legros   Nathaniel40@hotmail.com
8   9     Maxine   Schinner      Maxine93@hotmail.com
9  10        Tim   Jacobson         Tim92@hotmail.com

## Ejercicio 7
Agrupar por año de nacimiento y contar el número de ocurrencias de cada año.

In [36]:
year_count = df.groupby(df.index.year).size()
print(year_count)

birthdate
1985    1
1986    1
1987    1
1988    1
1989    1
1990    2
1991    1
1992    1
1993    1
dtype: int64

## Ejercicio 8
Ordenar el DataFrame por apellido en orden ascendente y luego por nombre en orden descendente.

In [39]:
print(df.sort_values(by='lastname', ascending=True))

            id  firstname   lastname                     email  \
birthdate
1992-07-23   3     Willie     Barton   Willie.Barton@gmail.com
1989-10-10  10        Tim   Jacobson         Tim92@hotmail.com
1986-04-18   8  Nathaniel     Legros   Nathaniel40@hotmail.com
1988-11-30   4      Ellis       Lowe      Ellis.Lowe@gmail.com
1985-05-12   2      Ethel     Miller       Ethel14@hotmail.com
1991-03-15   5    Raymond     Miller  Raymond.Miller@gmail.com
1990-01-01   1      Kerry  O'Connell         Kerry16@gmail.com
1993-12-05   7        Joe       Rice           Joe55@gmail.com
1990-08-22   9     Maxine   Schinner      Maxine93@hotmail.com
1987-09-25   6      Ellen   Thompson       Ellen92@hotmail.com

                    fullname
birthdate
1992-07-23     Willie Barton
1989-10-10      Tim Jacobson
1986-04-18  Nathaniel Legros
1988-11-30        Ellis Lowe
1985-05-12      Ethel Miller
1991-03-15    Raymond Miller
1990-01-01   Kerry O'Connell
1993-12-05          Joe Rice
1990-08-22   Maxine Schinner
1987-09-25    Ellen Thompson

In [40]:
print(df.sort_values(by='lastname', ascending=False))

            id  firstname   lastname                     email  \
birthdate
1987-09-25   6      Ellen   Thompson       Ellen92@hotmail.com
1990-08-22   9     Maxine   Schinner      Maxine93@hotmail.com
1993-12-05   7        Joe       Rice           Joe55@gmail.com
1990-01-01   1      Kerry  O'Connell         Kerry16@gmail.com
1985-05-12   2      Ethel     Miller       Ethel14@hotmail.com
1991-03-15   5    Raymond     Miller  Raymond.Miller@gmail.com
1988-11-30   4      Ellis       Lowe      Ellis.Lowe@gmail.com
1986-04-18   8  Nathaniel     Legros   Nathaniel40@hotmail.com
1989-10-10  10        Tim   Jacobson         Tim92@hotmail.com
1992-07-23   3     Willie     Barton   Willie.Barton@gmail.com

                    fullname
birthdate
1987-09-25    Ellen Thompson
1990-08-22   Maxine Schinner
1993-12-05          Joe Rice
1990-01-01   Kerry O'Connell
1985-05-12      Ethel Miller
1991-03-15    Raymond Miller
1988-11-30        Ellis Lowe
1986-04-18  Nathaniel Legros
1989-10-10      Tim Jacobson
1992-07-23     Willie Barton

## Ejercicio 9
Unir dos DataFrames utilizando la columna `email` como clave.

In [42]:
# Crear dos df con cols diferentes
df1 = df[['firstname', 'email']]
df2 = df[['lastname', 'email']]

df_merged = pd.merge(df1, df2, on='email')
print(df_merged)

   firstname                     email   lastname
0      Kerry         Kerry16@gmail.com  O'Connell
1      Ethel       Ethel14@hotmail.com     Miller
2     Willie   Willie.Barton@gmail.com     Barton
3      Ellis      Ellis.Lowe@gmail.com       Lowe
4    Raymond  Raymond.Miller@gmail.com     Miller
5      Ellen       Ellen92@hotmail.com   Thompson
6        Joe           Joe55@gmail.com       Rice
7  Nathaniel   Nathaniel40@hotmail.com     Legros
8     Maxine      Maxine93@hotmail.com   Schinner
9        Tim         Tim92@hotmail.com   Jacobson

## Ejercicio 10
Agrupar por nombre y contar el número de ocurrencias de cada nombre.

In [44]:
print(df.groupby('firstname').size())

firstname
Ellen        1
Ellis        1
Ethel        1
Joe          1
Kerry        1
Maxine       1
Nathaniel    1
Raymond      1
Tim          1
Willie       1
dtype: int64