# Ejercicios de Lectura de CSV
## Ejercicio 1
Leer el archivo CSV `datos_ejemplo.csv` y mostrar el contenido completo.

## Ejercicio 2
Leer el archivo CSV `datos_ejemplo.csv` y mostrar solo las columnas `firstname` y `lastname`.

## Ejercicio 3
Leer el archivo CSV `datos_ejemplo.csv`, parsear la columna `birthdate` como fechas y establecerla como índice del DataFrame.

# Ejercicios de Selección, Filtrado y Creación de Nuevos DataFrames
## Ejercicio 1
Seleccionar y mostrar solo las filas donde el apellido sea `Miller`.

## Ejercicio 2
Seleccionar y mostrar solo las filas donde la fecha de nacimiento sea posterior a `1990-01-01`.

## Ejercicio 3
Crear un nuevo DataFrame con una columna adicional `fullname` que contenga el nombre completo (`firstname` + `lastname`).

## Ejercicio 4
Seleccionar y mostrar solo las filas donde el nombre sea `Ellen`.

## Ejercicio 5
Seleccionar y mostrar solo las filas donde el correo electrónico contenga `gmail.com`.

## Ejercicio 6
Crear un nuevo DataFrame con una columna adicional `age` que contenga la edad calculada a partir de la fecha de nacimiento.

## Ejercicio 7
Seleccionar y mostrar solo las filas donde la edad sea mayor a 30 años.

## Ejercicio 8
Seleccionar y mostrar solo las filas donde el nombre completo contenga `Miller`.

## Ejercicio 9
Crear un nuevo DataFrame con una columna adicional `domain` que contenga el dominio del correo electrónico.

## Ejercicio 10
Seleccionar y mostrar solo las filas donde el dominio del correo electrónico sea `hotmail.com`.

# Ejercicios de Agrupación, Ordenación y Unión
## Ejercicio 1
Agrupar por apellido y contar el número de ocurrencias de cada apellido.

## Ejercicio 2
Ordenar el DataFrame por fecha de nacimiento en orden ascendente.

## Ejercicio 3
Unir dos DataFrames creados a partir del archivo CSV original.

## Ejercicio 4
Agrupar por dominio del correo electrónico y contar el número de ocurrencias de cada dominio.

## Ejercicio 5
Ordenar el DataFrame por nombre completo en orden descendente.

## Ejercicio 6
Unir dos DataFrames utilizando la columna `id` como clave.

## Ejercicio 7
Agrupar por año de nacimiento y contar el número de ocurrencias de cada año.

## Ejercicio 8
Ordenar el DataFrame por apellido en orden ascendente y luego por nombre en orden descendente.

## Ejercicio 9
Unir dos DataFrames utilizando la columna `email` como clave.

## Ejercicio 10
Agrupar por nombre y contar el número de ocurrencias de cada nombre.